aniso8601==7.0.0
click==8.1.2
Flask==2.1.1
Flask-GraphQL==2.0.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
graphene==2.1.9
graphene-sqlalchemy==2.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
graphql-server-core==1.1.1
greenlet==1.1.2
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
promise==2.3
psycopg2==2.9.3
pytz==2022.1
Rx==1.6.1
singledispatch==3.7.0
six==1.16.0
SQLAlchemy==1.4.35
typing_extensions==4.2.0
Werkzeug==2.1.1
zipp==3.8.0
